<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='css/main.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <nav class="navbar">
        <div class="nav-container">
            <h1 class="logo">Arsenal</h1>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/standings">Standings</a>
                <a href="/next">Next Fixtures</a>
            </div>
        </div>
    </nav>
    <div class="match-card">
        <div class="match-teams">
            <div class="team">
                <img src="{{ hcrest }}" alt="{{ home }} crest">
                <div class="team-name">{{ home }}</div>
            </div>
            <div class="vs">VS</div>
            <div class="team">
                <img src="{{ acrest }}" alt="{{ away }} crest">
                <div class="team-name">{{ away }}</div>
            </div>
        </div>
        <div class="match-details">
            <p>Date: {{ date }}</p>
            <p>Time: {{ time }}</p>
        </div>
    </div>

</body>
</html>