<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='css/main.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <h1 class="logo">Arsenal</h1>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/standings">Standings</a>
                <a href="/next">Next Fixtures</a>
            </div>
        </div>
    </nav>
        <section class="next-fixtures">
        <h2>Next Fixtures</h2>
    <div class="nextfixtures">
        {% for match in fixtures %}
            <div class="ngamecard">
                <p class="game-card">{{ match["date"] }}</p>
                <p class="game-card">{{ match["teams"]["home"]["name"] }} vs {{ match["teams"]["away"]["name"] }}</p>
                <p class="game-card">{{ match["time"] }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>