<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>standings</title>
    <link href="{{ url_for('static', path='css/main.css') }}" rel="stylesheet">
</head>
<body>
     <nav class="navbar">
        <div class="nav-container">
            <h1 class="logo">Arsenal</h1>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/standings">Standings</a>
                <a href="/next">Next Fixtures</a>
            </div>
        </div>
    </nav>
    <div class="standings-container">
        {% for team in standings %}
            <div class="team-container">
                <p class="position">{{team["position"]}}.</p>
                <p class="standing_team_name">{{team["team"]["name"]}}</p>
                <p class="standing_team_data"> MP: {{team["playedGames"]}}    W: {{team["won"]}}    D: {{team["draw"]}}    L: {{team["lost"]}}</p>

            </div>
        {% endfor %}
    </div>
</body>
</html>