<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>standings</title>
    <link href="{{ url_for('static', path='css/standings.css') }}" rel="stylesheet">
</head>
<body>
    <div class="standings-container">
        {% for team in standings %}
            <div class="team-container">
                <p class="position">{{team["position"]}}.</p>
                <p class="standing_team_name">{{team["team"]["name"]}}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>